In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/da_mac_41_/anaconda3/lib/python3.10/site-packages (2.0.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/da_mac_41_/anaconda3/lib/python3.10/site-packages (from sqlalchemy) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/da_mac_41_/anaconda3/lib/python3.10/site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sqlalchemy

In [4]:
import pandas as pd

In [5]:
%load_ext sql
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://postgres:poplpol@localhost:5430/food_ordering_system')

In [7]:
df = pd.read_csv (r'/Users/da_mac_41_/Downloads/diamonds.csv')

In [8]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [9]:
df.to_sql('diamonds', engine, if_exists='replace', index = False, chunksize=381109)#

940

In [10]:

%sql postgresql://postgres:polpol@localhost:5430/food_ordering_system

## Show Distinct diamonds color

In [11]:
%%sql
SELECT color, COUNT(DISTINCT color) AS distinct_count
FROM diamonds
GROUP BY color
ORDER BY distinct_count DESC

 * postgresql://postgres:***@localhost:5430/food_ordering_system
7 rows affected.

[('D', 1), ('E', 1), ('F', 1), ('G', 1), ('H', 1), ('I', 1), ('J', 1)]

## What is the most common color grade?

In [12]:
%%sql
SELECT color, COUNT(*) AS count
FROM diamonds
GROUP BY color
ORDER BY count DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
1 rows affected.

[('G', 11292)]

## How does the color grade affects the average weight of the diamonds

In [13]:
%%sql
SELECT color, CAST(AVG(carat) AS decimal(10, 2))AS average_weight
FROM diamonds
GROUP BY color
ORDER BY color;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
7 rows affected.

[('D', Decimal('0.66')),
 ('E', Decimal('0.66')),
 ('F', Decimal('0.74')),
 ('G', Decimal('0.77')),
 ('H', Decimal('0.91')),
 ('I', Decimal('1.03')),
 ('J', Decimal('1.16'))]

## How does the average price vary with diamond color?

In [14]:
%%sql
SELECT color, CAST(AVG(price) AS decimal(10, 2)) AS average_price
FROM diamonds
GROUP BY color
ORDER BY color;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
7 rows affected.

[('D', Decimal('3169.95')),
 ('E', Decimal('3076.75')),
 ('F', Decimal('3724.89')),
 ('G', Decimal('3999.14')),
 ('H', Decimal('4486.67')),
 ('I', Decimal('5091.87')),
 ('J', Decimal('5323.82'))]

In [15]:
%%sql
SELECT clarity, CAST(AVG(price) AS decimal(10, 2)) AS average_price
FROM diamonds
GROUP BY clarity;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
8 rows affected.

[('VVS2', Decimal('3283.74')),
 ('VS1', Decimal('3839.46')),
 ('VS2', Decimal('3924.99')),
 ('I1', Decimal('3924.17')),
 ('VVS1', Decimal('2523.11')),
 ('IF', Decimal('2864.84')),
 ('SI1', Decimal('3996.00')),
 ('SI2', Decimal('5063.03'))]

## Are there any specific combinations of cut, color, and clarity that result in higher prices?

In [16]:
%%sql
SELECT cut, color, clarity, CAST(AVG(price) AS decimal(10, 2)) AS average_price
FROM diamonds
GROUP BY cut, color, clarity
ORDER BY average_price DESC;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
276 rows affected.

[('Very Good', 'D', 'IF', Decimal('10298.26')),
 ('Good', 'D', 'IF', Decimal('10030.33')),
 ('Ideal', 'J', 'I1', Decimal('9454.00')),
 ('Premium', 'D', 'IF', Decimal('9056.50')),
 ('Premium', 'J', 'SI2', Decimal('7550.29')),
 ('Fair', 'D', 'I1', Decimal('7383.00')),
 ('Premium', 'J', 'VVS1', Decimal('7244.38')),
 ('Ideal', 'I', 'SI2', Decimal('7191.91')),
 ('Premium', 'I', 'VS2', Decimal('7156.35')),
 ('Premium', 'I', 'SI2', Decimal('7148.48')),
 ('Premium', 'J', 'IF', Decimal('7026.00')),
 ('Good', 'I', 'SI2', Decimal('6933.01')),
 ('Premium', 'H', 'SI2', Decimal('6718.95')),
 ('Fair', 'I', 'SI2', Decimal('6658.02')),
 ('Very Good', 'I', 'SI2', Decimal('6621.60')),
 ('Ideal', 'D', 'IF', Decimal('6567.18')),
 ('Ideal', 'J', 'SI2', Decimal('6555.17')),
 ('Premium', 'J', 'VVS2', Decimal('6423.35')),
 ('Premium', 'J', 'VS2', Decimal('6175.56')),
 ('Very Good', 'H', 'SI2', Decimal('6112.41')),
 ('Premium', 'I', 'SI1', Decimal('6092.09')),
 ('Very Good', 'I', 'I1', Decimal('6045.13')),
 ('Fair', 'H', 'SI2', Decimal('6022.41')),
 ('Very Good', 'J', 'SI2', Decimal('5992.90')),
 ('Very Good', 'J', 'VVS2', Decimal('5960.45')),
 ('Good', 'I', 'VS2', Decimal('5956.56')),
 ('Good', 'H', 'IF', Decimal('5948.75')),
 ('Fair', 'J', 'VS1', Decimal('5906.19')),
 ('Premium', 'J', 'VS1', Decimal('5817.26')),
 ('Fair', 'J', 'I1', Decimal('5795.04')),
 ('Very Good', 'I', 'VS2', Decimal('5754.64')),
 ('Premium', 'J', 'SI1', Decimal('5726.58')),
 ('Premium', 'H', 'SI1', Decimal('5707.72')),
 ('Fair', 'G', 'SI2', Decimal('5665.15')),
 ('Premium', 'G', 'SI2', Decimal('5617.21')),
 ('Ideal', 'H', 'SI2', Decimal('5589.47')),
 ('Premium', 'H', 'VS2', Decimal('5553.88')),
 ('Good', 'H', 'SI2', Decimal('5529.78')),
 ('Ideal', 'H', 'I1', Decimal('5415.18')),
 ('Fair', 'G', 'VS2', Decimal('5384.44')),
 ('Premium', 'I', 'VS1', Decimal('5339.37')),
 ('Very Good', 'J', 'VS2', Decimal('5325.55')),
 ('Good', 'J', 'SI2', Decimal('5306.11')),
 ('Very Good', 'I', 'VS1', Decimal('5276.97')),
 ('Very Good', 'H', 'I1', Decimal('5258.83')),
 ('Fair', 'H', 'SI1', Decimal('5195.80')),
 ('Very Good', 'I', 'SI1', Decimal('5195.30')),
 ('Ideal', 'I', 'SI1', Decimal('5178.57')),
 ('Fair', 'J', 'SI2', Decimal('5131.81')),
 ('Ideal', 'J', 'SI1', Decimal('5115.67')),
 ('Fair', 'H', 'VS2', Decimal('5110.93')),
 ('Premium', 'I', 'I1', Decimal('5044.63')),
 ('Very Good', 'J', 'SI1', Decimal('5026.54')),
 ('Very Good', 'H', 'SI1', Decimal('4933.95')),
 ('Ideal', 'J', 'VS2', Decimal('4867.13')),
 ('Good', 'J', 'VS2', Decimal('4803.17')),
 ('Good', 'G', 'SI2', Decimal('4776.41')),
 ('Ideal', 'H', 'SI1', Decimal('4769.99')),
 ('Premium', 'F', 'VS1', Decimal('4758.04')),
 ('Premium', 'F', 'SI2', Decimal('4747.09')),
 ('Good', 'I', 'SI1', Decimal('4742.95')),
 ('Ideal', 'J', 'VS1', Decimal('4734.43')),
 ('Very Good', 'G', 'SI2', Decimal('4699.27')),
 ('Fair', 'F', 'VVS1', Decimal('4679.80')),
 ('Very Good', 'F', 'IF', Decimal('4677.07')),
 ('Ideal', 'I', 'VS2', Decimal('4663.38')),
 ('Good', 'J', 'VVS1', Decimal('4633.00')),
 ('Good', 'J', 'SI1', Decimal('4627.63')),
 ('Very Good', 'H', 'VS2', Decimal('4620.22')),
 ('Ideal', 'G', 'SI2', Decimal('4612.09')),
 ('Fair', 'H', 'VS1', Decimal('4604.75')),
 ('Good', 'I', 'VS1', Decimal('4597.17')),
 ('Premium', 'J', 'I1', Decimal('4577.23')),
 ('Fair', 'I', 'SI1', Decimal('4574.97')),
 ('Premium', 'G', 'VS2', Decimal('4556.26')),
 ('Fair', 'J', 'SI1', Decimal('4553.93')),
 ('Premium', 'E', 'IF', Decimal('4525.44')),
 ('Fair', 'F', 'SI2', Decimal('4520.11')),
 ('Fair', 'D', 'VS2', Decimal('4512.88')),
 ('Fair', 'I', 'VS1', Decimal('4500.48')),
 ('Premium', 'E', 'SI2', Decimal('4489.93')),
 ('Very Good', 'J', 'I1', Decimal('4478.38')),
 ('Fair', 'D', 'VVS1', Decimal('4473.00')),
 ('Premium', 'G', 'VS1', Decimal('4435.82')),
 ('Good', 'H', 'VS2', Decimal('4433.04')),
 ('Very Good', 'G', 'VS2', Decimal('4426.82')),
 ('Good', 'F', 'SI2', Decimal('4426.79')),
 ('Very Good', 'D', 'SI2', Decimal('4425.46')),
 ('Good', 'E', 'I1', Decimal('4398.13')),
 ('Good', 'J', 'VVS2', Decimal('4371.15')),
 ('Fair', 'D', 'SI2', Decimal('4355.14')),
 ('Premium', 'D', 'SI2', Decimal('4351.09')),
 ('Very Good', 'J', 'VS1', Decimal('4339.59')),
 ('Ideal', 'F', 'SI2', Decimal('4335.51')),
 ('Very Good', 'E', 'IF', Decimal('4332.74')),
 ('Premium', 'G', 'VVS2', Decimal('4323.57')),
 ('Ideal', 'G', 'VS2', Decimal('4310.04')),
 ('Premium', 'G', 'SI1', Decimal('4303.35')),
 ('Good', 'G', 'VS1', Decimal('4302.43')),
 ('Very Good', 'E', 'SI2', Decimal('4279.45')),
 ('Fair', 'D', 'SI1', Decimal('4273.34')),
 ('Very Good', 'F', 'I1', Decimal('4252.92')),
 ('Very Good', 'F', 'SI2', Decimal('4249.76')),
 ('Premium', 'F', 'VS2', Decimal('4221.47')),
 ('Fair', 'H', 'I1', Decimal('4212.96')),
 ('Fair', 'I', 'VVS1', Decimal('4194.00')),
 ('Good', 'H', 'SI1', Decimal('4179.29')),
 ('Premium', 'D', 'VS1', Decimal('4178.05')),
 ('Good', 'I', 'I1', Decimal('4175.44')),
 ('Fair', 'E', 'SI2', Decimal('4172.38')),
 ('Good', 'G', 'VS2', Decimal('4140.71')),
 ('Good', 'G', 'SI1', Decimal('4129.33')),
 ('Ideal', 'J', 'VVS2', Decimal('4121.93')),
 ('Ideal', 'G', 'VS1', Decimal('4116.92')),
 ('Fair', 'E', 'VVS1', Decimal('4115.33')),
 ('Fair', 'H', 'VVS1', Decimal('4115.00')),
 ('Ideal', 'I', 'I1', Decimal('4103.29')),
 ('Fair', 'F', 'VS1', Decimal('4103.06')),
 ('Premium', 'F', 'VVS2', Decimal('4099.47')),
 ('Very Good', 'I', 'IF', Decimal('4093.89')),
 ('Fair', 'J', 'VS2', Decimal('4067.83')),
 ('Good', 'G', 'IF', Decimal('4060.14')),
 ('Premium', 'G', 'I1', Decimal('4051.52')),
 ('Ideal', 'G', 'I1', Decimal('4044.44')),
 ('Premium', 'F', 'SI1', Decimal('4040.47')),
 ('Ideal', 'H', 'VS2', Decimal('4039.13')),
 ('Fair', 'F', 'VVS2', Decimal('4018.20')),
 ('Very Good', 'F', 'VS2', Decimal('3995.94')),
 ('Premium', 'F', 'VVS1', Decimal('3969.33')),
 ('Premium', 'H', 'VS1', Decimal('3949.34')),
 ('Ideal', 'I', 'VS1', Decimal('3944.42')),
 ('Premium', 'H', 'I1', Decimal('3904.35')),
 ('Ideal', 'F', 'I1', Decimal('3903.45')),
 ('Fair', 'E', 'SI1', Decimal('3901.15')),
 ('Ideal', 'E', 'SI2', Decimal('3891.30')),
 ('Premium', 'D', 'VVS2', Decimal('3888.44')),
 ('Very Good', 'F', 'VS1', Decimal('3880.80')),
 ('Fair', 'I', 'VS2', Decimal('3856.13')),
 ('Good', 'H', 'I1', Decimal('3849.71')),
 ('Good', 'H', 'VS1', Decimal('3819.12')),
 ('Premium', 'D', 'I1', Decimal('3818.75')),
 ('Ideal', 'G', 'VVS2', Decimal('3795.65')),
 ('Good', 'J', 'I1', Decimal('3794.50')),
 ('Good', 'F', 'VS2', Decimal('3790.54')),
 ('Good', 'E', 'SI2', Decimal('3785.49')),
 ('Fair', 'F', 'SI1', Decimal('3784.69')),
 ('Good', 'E', 'VS2', Decimal('3772.02')),
 ('Premium', 'D', 'VVS1', Decimal('3771.00')),
 ('Very Good', 'G', 'VS1', Decimal('3770.15')),
 ('Very Good', 'H', 'VS1', Decimal('3750.20')),
 ('Premium', 'E', 'VS1', Decimal('3721.70')),
 ('Good', 'E', 'VS1', Decimal('3712.78')),
 ('Very Good', 'G', 'VVS2', Decimal('3711.78')),
 ('Ideal', 'F', 'SI1', Decimal('3710.32')),
 ('Good', 'J', 'VS1', Decimal('3662.83')),
 ('Ideal', 'D', 'VVS2', Decimal('3619.01')),
 ('Premium', 'F', 'IF', Decimal('3617.58')),
 ('Ideal', 'H', 'VS1', Decimal('3613.33')),
 ('Fair', 'D', 'VVS2', Decimal('3607.00')),
 ('Good', 'D', 'SI2', Decimal('3595.30')),
 ('Good', 'D', 'VS2', Decimal('3588.46')),
 ('Fair', 'G', 'SI1', Decimal('3579.36')),
 ('Very Good', 'F', 'SI1', Decimal('3574.29')),
 ('Ideal', 'E', 'I1', Decimal('3559.39')),
 ('Good', 'D', 'VS1', Decimal('3556.58')),
 ('Premium', 'F', 'I1', Decimal('3554.56')),
 ('Ideal', 'D', 'I1', Decimal('3526.92')),
 ('Very Good', 'G', 'IF', Decimal('3525.24')),
 ('Ideal', 'F', 'VS1', Decimal('3504.00')),
 ('Fair', 'I', 'I1', Decimal('3501.00')),
 ('Fair', 'G', 'VS1', Decimal('3497.62')),
 ('Good', 'D', 'I1', Decimal('3490.75')),
 ('Very Good', 'G', 'SI1', Decimal('3481.87')),
 ('Fair', 'H', 'VVS2', Decimal('3481.73')),
 ('Very Good', 'F', 'VVS2', Decimal('3461.91')),
 ('Very Good', 'E', 'I1', Decimal('3443.55')),
 ('Ideal', 'G', 'SI1', Decimal('3441.11')),
 ('Fair', 'F', 'VS2', Decimal('3400.47')),
 ('Good', 'E', 'VVS2', Decimal('3390.15')),
 ('Premium', 'H', 'IF', Decimal('3384.75')),
 ('Premium', 'E', 'SI1', Decimal('3362.63')),
 ('Very Good', 'E', 'VS2', Decimal('3329.50')),
 ('Ideal', 'F', 'VVS2', Decimal('3323.63')),
 ('Ideal', 'F', 'VS2', Decimal('3317.20')),
 ('Premium', 'G', 'IF', Decimal('3311.11')),
 ('Good', 'G', 'VVS2', Decimal('3310.47')),
 ('Fair', 'E', 'VS1', Decimal('3307.93')),
 ('Good', 'F', 'SI1', Decimal('3261.45')),
 ('Ideal', 'E', 'IF', Decimal('3258.94')),
 ('Premium', 'D', 'SI1', Decimal('3236.38')),
 ('Very Good', 'D', 'SI1', Decimal('3234.93')),
 ('Very Good', 'E', 'SI1', Decimal('3228.18')),
 ('Premium', 'E', 'I1', Decimal('3199.27')),
 ('Good', 'G', 'I1', Decimal('3195.79')),
 ('Very Good', 'G', 'I1', Decimal('3194.81')),
 ('Good', 'F', 'VVS2', Decimal('3192.36')),
 ('Premium', 'I', 'VVS2', Decimal('3190.77')),
 ('Fair', 'G', 'I1', Decimal('3187.47')),
 ('Very Good', 'J', 'VVS1', Decimal('3175.53')),
 ('Good', 'E', 'SI1', Decimal('3162.13')),
 ('Very Good', 'D', 'VS2', Decimal('3145.19')),
 ('Ideal', 'D', 'SI2', Decimal('3142.05')),
 ('Good', 'F', 'IF', Decimal('3132.87')),
 ('Fair', 'E', 'VVS2', Decimal('3119.31')),
 ('Fair', 'G', 'VVS2', Decimal('3099.06')),
 ('Very Good', 'E', 'VS1', Decimal('3089.36')),
 ('Premium', 'E', 'VS2', Decimal('3070.39')),
 ('Very Good', 'I', 'VVS2', Decimal('3059.89')),
 ('Fair', 'E', 'VS2', Decimal('3041.71')),
 ('Good', 'D', 'SI1', Decimal('3021.17')),
 ('Fair', 'J', 'VVS2', Decimal('2998.00')),
 ('Fair', 'I', 'VVS2', Decimal('2994.63')),
 ('Very Good', 'D', 'VVS1', Decimal('2987.73')),
 ('Very Good', 'D', 'VS1', Decimal('2955.48')),
 ('Premium', 'E', 'VVS2', Decimal('2940.94')),
 ('Premium', 'G', 'VVS1', Decimal('2933.65')),
 ('Fair', 'D', 'VS1', Decimal('2921.20')),
 ('Premium', 'D', 'VS2', Decimal('2919.36')),
 ('Ideal', 'G', 'VVS1', Decimal('2909.20')),
 ('Ideal', 'E', 'SI1', Decimal('2883.81')),
 ('Ideal', 'I', 'VVS2', Decimal('2858.68')),
 ('Very Good', 'F', 'VVS1', Decimal('2826.54')),
 ('Good', 'F', 'VS1', Decimal('2787.51')),
 ('Very Good', 'H', 'VVS2', Decimal('2768.14')),
 ('Good', 'I', 'VVS2', Decimal('2758.00')),
 ('Good', 'J', 'IF', Decimal('2738.00')),
 ('Very Good', 'G', 'VVS1', Decimal('2719.33')),
 ('Ideal', 'D', 'VVS1', Decimal('2705.78')),
 ('Good', 'G', 'VVS1', Decimal('2705.20')),
 ('Premium', 'E', 'VVS1', Decimal('2699.86')),
 ('Premium', 'H', 'VVS2', Decimal('2651.26')),
 ('Good', 'I', 'VVS1', Decimal('2650.95')),
 ('Very Good', 'H', 'IF', Decimal('2647.69')),
 ('Very Good', 'D', 'I1', Decimal('2622.80')),
 ('Very Good', 'D', 'VVS2', Decimal('2615.30')),
 ('Ideal', 'F', 'VVS1', Decimal('2611.23')),
 ('Ideal', 'H', 'VVS2', Decimal('2591.16')),
 ('Good', 'D', 'VVS1', Decimal('2586.23')),
 ('Ideal', 'D', 'VS1', Decimal('2576.04')),
 ('Good', 'F', 'I1', Decimal('2569.53')),
 ('Ideal', 'E', 'VVS2', Decimal('2556.34')),
 ('Fair', 'F', 'I1', Decimal('2543.51')),
 ('Ideal', 'D', 'SI1', Decimal('2490.46')),
 ('Ideal', 'J', 'IF', Decimal('2489.00')),
 ('Good', 'H', 'VVS2', Decimal('2428.00')),
 ('Premium', 'I', 'IF', Decimal('2358.57')),
 ('Good', 'D', 'VVS2', Decimal('2345.64')),
 ('Fair', 'F', 'IF', Decimal('2344.00')),
 ('Fair', 'G', 'VVS1', Decimal('2216.33')),
 ('Ideal', 'G', 'IF', Decimal('2206.03')),
 ('Ideal', 'E', 'VVS1', Decimal('2205.52')),
 ('Good', 'F', 'VVS1', Decimal('2189.51')),
 ('Ideal', 'E', 'VS1', Decimal('2175.80')),
 ('Ideal', 'E', 'VS2', Decimal('2163.32')),
 ('Ideal', 'F', 'IF', Decimal('2153.71')),
 ('Ideal', 'D', 'VS2', Decimal('2111.93')),
 ('Fair', 'E', 'I1', Decimal('2095.22')),
 ('Very Good', 'I', 'VVS1', Decimal('2056.42')),
 ('Very Good', 'H', 'VVS1', Decimal('2042.19')),
 ('Very Good', 'E', 'VVS2', Decimal('2041.68')),
 ('Ideal', 'I', 'VVS1', Decimal('2034.40')),
 ('Ideal', 'J', 'VVS1', Decimal('2000.17')),
 ('Very Good', 'E', 'VVS1', Decimal('1997.45')),
 ('Ideal', 'H', 'IF', Decimal('1982.77')),
 ('Ideal', 'H', 'VVS1', Decimal('1915.98')),
 ('Good', 'E', 'VVS1', Decimal('1905.95')),
 ('Premium', 'I', 'VVS1', Decimal('1831.08')),
 ('Good', 'I', 'IF', Decimal('1749.33')),
 ('Good', 'H', 'VVS1', Decimal('1719.71')),
 ('Fair', 'J', 'VVS1', Decimal('1691.00')),
 ('Fair', 'D', 'IF', Decimal('1619.67')),
 ('Good', 'E', 'IF', Decimal('1519.22')),
 ('Ideal', 'I', 'IF', Decimal('1502.62')),
 ('Fair', 'G', 'IF', Decimal('1488.00')),
 ('Premium', 'H', 'VVS1', Decimal('1453.76')),
 ('Very Good', 'J', 'IF', Decimal('1074.13'))]

## How does the average price vary for diamonds with different color grades across various cuts?

In [17]:
%%sql
SELECT cut, color, CAST(AVG(price) AS decimal(10, 2)) AS average_price
FROM diamonds
GROUP BY cut, color
ORDER BY cut, color;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
35 rows affected.

[('Fair', 'D', Decimal('4291.06')),
 ('Fair', 'E', Decimal('3682.31')),
 ('Fair', 'F', Decimal('3827.00')),
 ('Fair', 'G', Decimal('4239.25')),
 ('Fair', 'H', Decimal('5135.68')),
 ('Fair', 'I', Decimal('4685.45')),
 ('Fair', 'J', Decimal('4975.66')),
 ('Good', 'D', Decimal('3405.38')),
 ('Good', 'E', Decimal('3423.64')),
 ('Good', 'F', Decimal('3495.75')),
 ('Good', 'G', Decimal('4123.48')),
 ('Good', 'H', Decimal('4276.25')),
 ('Good', 'I', Decimal('5078.53')),
 ('Good', 'J', Decimal('4574.17')),
 ('Ideal', 'D', Decimal('2629.09')),
 ('Ideal', 'E', Decimal('2597.55')),
 ('Ideal', 'F', Decimal('3374.94')),
 ('Ideal', 'G', Decimal('3720.71')),
 ('Ideal', 'H', Decimal('3889.33')),
 ('Ideal', 'I', Decimal('4451.97')),
 ('Ideal', 'J', Decimal('4918.19')),
 ('Premium', 'D', Decimal('3631.29')),
 ('Premium', 'E', Decimal('3538.91')),
 ('Premium', 'F', Decimal('4324.89')),
 ('Premium', 'G', Decimal('4500.74')),
 ('Premium', 'H', Decimal('5216.71')),
 ('Premium', 'I', Decimal('5946.18')),
 ('Premium', 'J', Decimal('6294.59')),
 ('Very Good', 'D', Decimal('3470.47')),
 ('Very Good', 'E', Decimal('3214.65')),
 ('Very Good', 'F', Decimal('3778.82')),
 ('Very Good', 'G', Decimal('3872.75')),
 ('Very Good', 'H', Decimal('4535.39')),
 ('Very Good', 'I', Decimal('5255.88')),
 ('Very Good', 'J', Decimal('5103.51'))]

## How does the color of a diamond impact its clarity

In [ ]:
%%sql
SELECT color, clarity, COUNT(*) AS count
FROM diamonds
GROUP BY color, clarity
ORDER BY color, clarity;

## How many diamonds are there in each cut category?

In [70]:
%%sql
SELECT cut, COUNT(*) AS diamond_count
FROM diamonds
GROUP BY cut;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
5 rows affected.

[('Good', 4906),
 ('Very Good', 12082),
 ('Premium', 13791),
 ('Ideal', 21551),
 ('Fair', 1610)]

## How does the cut of diamonds affects its price

In [69]:
%%sql
SELECT cut, CAST(AVG(price) AS decimal(10, 2)) AS average_price
FROM diamonds
GROUP BY cut
ORDER BY average_price DESC;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
5 rows affected.

[('Premium', Decimal('4584.26')),
 ('Fair', Decimal('4358.76')),
 ('Very Good', Decimal('3981.76')),
 ('Good', Decimal('3928.86')),
 ('Ideal', Decimal('3457.54'))]

## How does the cut of a diamond affect its average price per carat?

In [18]:
%%sql
SELECT cut, CAST(AVG(price/carat) AS decimal(10, 2)) AS avg_price_per_carat
FROM diamonds
GROUP BY cut
ORDER BY avg_price_per_carat DESC;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
5 rows affected.

[('Premium', Decimal('4222.91')),
 ('Very Good', Decimal('4014.13')),
 ('Ideal', Decimal('3919.70')),
 ('Good', Decimal('3860.03')),
 ('Fair', Decimal('3767.26'))]

## Are there any specific cuts that consistently result in higher prices across different carat weights?

In [19]:
%%sql
SELECT cut, sum(price) AS average_price
FROM diamonds
GROUP BY cut
HAVING COUNT(DISTINCT carat) > 1
ORDER BY average_price DESC;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
5 rows affected.

[('Ideal', Decimal('74513487')),
 ('Premium', Decimal('63221498')),
 ('Very Good', Decimal('48107623')),
 ('Good', Decimal('19275009')),
 ('Fair', Decimal('7017600'))]

## What is the common clarity grade among diamonds with specific color grade

In [20]:
%%sql
SELECT color, clarity, COUNT(*) AS count
FROM diamonds
GROUP BY color, clarity
HAVING COUNT(*) > 0
ORDER BY color, count DESC;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
56 rows affected.

[('D', 'SI1', 2083),
 ('D', 'VS2', 1697),
 ('D', 'SI2', 1370),
 ('D', 'VS1', 705),
 ('D', 'VVS2', 553),
 ('D', 'VVS1', 252),
 ('D', 'IF', 73),
 ('D', 'I1', 42),
 ('E', 'VS2', 2470),
 ('E', 'SI1', 2426),
 ('E', 'SI2', 1713),
 ('E', 'VS1', 1281),
 ('E', 'VVS2', 991),
 ('E', 'VVS1', 656),
 ('E', 'IF', 158),
 ('E', 'I1', 102),
 ('F', 'VS2', 2201),
 ('F', 'SI1', 2131),
 ('F', 'SI2', 1609),
 ('F', 'VS1', 1364),
 ('F', 'VVS2', 975),
 ('F', 'VVS1', 734),
 ('F', 'IF', 385),
 ('F', 'I1', 143),
 ('G', 'VS2', 2347),
 ('G', 'VS1', 2148),
 ('G', 'SI1', 1976),
 ('G', 'SI2', 1548),
 ('G', 'VVS2', 1443),
 ('G', 'VVS1', 999),
 ('G', 'IF', 681),
 ('G', 'I1', 150),
 ('H', 'SI1', 2275),
 ('H', 'VS2', 1643),
 ('H', 'SI2', 1563),
 ('H', 'VS1', 1169),
 ('H', 'VVS2', 608),
 ('H', 'VVS1', 585),
 ('H', 'IF', 299),
 ('H', 'I1', 162),
 ('I', 'SI1', 1424),
 ('I', 'VS2', 1169),
 ('I', 'VS1', 962),
 ('I', 'SI2', 912),
 ('I', 'VVS2', 365),
 ('I', 'VVS1', 355),
 ('I', 'IF', 143),
 ('I', 'I1', 92),
 ('J', 'SI1', 750),
 ('J', 'VS2', 731),
 ('J', 'VS1', 542),
 ('J', 'SI2', 479),
 ('J', 'VVS2', 131),
 ('J', 'VVS1', 74),
 ('J', 'IF', 51),
 ('J', 'I1', 50)]

## How does the average price differ for diamonds with different levels of clarity and cut?

In [21]:
%%sql
SELECT cut, clarity, CAST(AVG(price) AS decimal(10, 2)) AS average_price
FROM diamonds
GROUP BY cut, clarity
ORDER BY average_price DESC;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
40 rows affected.

[('Premium', 'SI2', Decimal('5545.94')),
 ('Fair', 'SI2', Decimal('5173.92')),
 ('Very Good', 'SI2', Decimal('4988.69')),
 ('Ideal', 'SI2', Decimal('4755.95')),
 ('Good', 'SI2', Decimal('4580.26')),
 ('Premium', 'VS2', Decimal('4550.33')),
 ('Premium', 'VS1', Decimal('4485.46')),
 ('Premium', 'SI1', Decimal('4455.27')),
 ('Very Good', 'IF', Decimal('4396.22')),
 ('Ideal', 'I1', Decimal('4335.73')),
 ('Good', 'VS2', Decimal('4262.24')),
 ('Very Good', 'VS2', Decimal('4215.76')),
 ('Fair', 'SI1', Decimal('4208.28')),
 ('Fair', 'VS2', Decimal('4174.72')),
 ('Fair', 'VS1', Decimal('4165.14')),
 ('Good', 'IF', Decimal('4098.32')),
 ('Very Good', 'I1', Decimal('4078.23')),
 ('Premium', 'I1', Decimal('3947.33')),
 ('Very Good', 'SI1', Decimal('3932.39')),
 ('Fair', 'VVS1', Decimal('3871.35')),
 ('Premium', 'IF', Decimal('3856.14')),
 ('Very Good', 'VS1', Decimal('3805.35')),
 ('Good', 'VS1', Decimal('3801.45')),
 ('Premium', 'VVS2', Decimal('3795.12')),
 ('Ideal', 'SI1', Decimal('3752.12')),
 ('Fair', 'I1', Decimal('3703.53')),
 ('Good', 'SI1', Decimal('3689.53')),
 ('Good', 'I1', Decimal('3596.64')),
 ('Ideal', 'VS1', Decimal('3489.74')),
 ('Fair', 'VVS2', Decimal('3349.77')),
 ('Ideal', 'VS2', Decimal('3284.55')),
 ('Ideal', 'VVS2', Decimal('3250.29')),
 ('Good', 'VVS2', Decimal('3079.11')),
 ('Very Good', 'VVS2', Decimal('3037.77')),
 ('Premium', 'VVS1', Decimal('2831.21')),
 ('Ideal', 'VVS1', Decimal('2468.13')),
 ('Very Good', 'VVS1', Decimal('2459.44')),
 ('Ideal', 'IF', Decimal('2272.91')),
 ('Good', 'VVS1', Decimal('2254.77')),
 ('Fair', 'IF', Decimal('1912.33'))]

## How does the carat weight of a diamond relate to its price?

In [22]:
%%sql
SELECT carat, COUNT(*) AS count, CAST(AVG(price) AS decimal(10, 2)) AS average_price
FROM diamonds
GROUP BY carat
ORDER BY carat;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
273 rows affected.

[(0.2, 12, Decimal('365.17')),
 (0.21, 9, Decimal('380.22')),
 (0.22, 5, Decimal('391.40')),
 (0.23, 293, Decimal('486.14')),
 (0.24, 254, Decimal('505.19')),
 (0.25, 212, Decimal('550.92')),
 (0.26, 253, Decimal('550.90')),
 (0.27, 233, Decimal('574.76')),
 (0.28, 198, Decimal('580.12')),
 (0.29, 130, Decimal('601.19')),
 (0.3, 2604, Decimal('680.30')),
 (0.31, 2249, Decimal('708.24')),
 (0.32, 1840, Decimal('720.14')),
 (0.33, 1189, Decimal('765.73')),
 (0.34, 910, Decimal('756.38')),
 (0.35, 667, Decimal('800.68')),
 (0.36, 572, Decimal('781.38')),
 (0.37, 394, Decimal('816.07')),
 (0.38, 670, Decimal('904.44')),
 (0.39, 398, Decimal('922.33')),
 (0.4, 1299, Decimal('932.78')),
 (0.41, 1382, Decimal('973.63')),
 (0.42, 706, Decimal('994.44')),
 (0.43, 488, Decimal('995.19')),
 (0.44, 212, Decimal('1056.62')),
 (0.45, 110, Decimal('1093.32')),
 (0.46, 178, Decimal('1237.53')),
 (0.47, 99, Decimal('1272.31')),
 (0.48, 63, Decimal('1322.05')),
 (0.49, 45, Decimal('1306.33')),
 (0.5, 1258, Decimal('1504.46')),
 (0.51, 1127, Decimal('1624.41')),
 (0.52, 817, Decimal('1655.58')),
 (0.53, 709, Decimal('1683.55')),
 (0.54, 625, Decimal('1703.88')),
 (0.55, 496, Decimal('1725.44')),
 (0.56, 492, Decimal('1832.00')),
 (0.57, 430, Decimal('1796.32')),
 (0.58, 310, Decimal('1798.65')),
 (0.59, 282, Decimal('1831.45')),
 (0.6, 228, Decimal('1949.81')),
 (0.61, 204, Decimal('2069.25')),
 (0.62, 135, Decimal('1973.37')),
 (0.63, 102, Decimal('2244.78')),
 (0.64, 80, Decimal('2113.59')),
 (0.65, 65, Decimal('2322.62')),
 (0.66, 48, Decimal('2235.73')),
 (0.67, 48, Decimal('2067.85')),
 (0.68, 25, Decimal('2334.32')),
 (0.69, 26, Decimal('2206.62')),
 (0.7, 1981, Decimal('2516.07')),
 (0.71, 1294, Decimal('2672.78')),
 (0.72, 764, Decimal('2705.78')),
 (0.73, 492, Decimal('2791.25')),
 (0.74, 322, Decimal('2821.90')),
 (0.75, 249, Decimal('2763.40')),
 (0.76, 251, Decimal('2889.59')),
 (0.77, 251, Decimal('2884.40')),
 (0.78, 187, Decimal('2918.91')),
 (0.79, 155, Decimal('2990.81')),
 (0.8, 284, Decimal('3146.19')),
 (0.81, 200, Decimal('3094.43')),
 (0.82, 140, Decimal('3083.65')),
 (0.83, 131, Decimal('3181.99')),
 (0.84, 64, Decimal('3294.98')),
 (0.85, 62, Decimal('3204.18')),
 (0.86, 34, Decimal('3289.97')),
 (0.87, 31, Decimal('3342.32')),
 (0.88, 23, Decimal('3431.35')),
 (0.89, 21, Decimal('3291.24')),
 (0.9, 1485, Decimal('3939.18')),
 (0.91, 570, Decimal('3981.16')),
 (0.92, 226, Decimal('4035.21')),
 (0.93, 142, Decimal('3994.30')),
 (0.94, 59, Decimal('4195.78')),
 (0.95, 65, Decimal('4013.66')),
 (0.96, 103, Decimal('3623.47')),
 (0.97, 59, Decimal('4026.24')),
 (0.98, 31, Decimal('3469.77')),
 (0.99, 23, Decimal('4406.17')),
 (1.0, 1558, Decimal('5241.59')),
 (1.01, 2242, Decimal('5506.78')),
 (1.02, 883, Decimal('5598.46')),
 (1.03, 523, Decimal('5581.71')),
 (1.04, 475, Decimal('5770.46')),
 (1.05, 361, Decimal('5781.68')),
 (1.06, 373, Decimal('5943.48')),
 (1.07, 342, Decimal('6000.86')),
 (1.08, 246, Decimal('5774.34')),
 (1.09, 287, Decimal('6010.10')),
 (1.1, 278, Decimal('5906.08')),
 (1.11, 308, Decimal('6005.57')),
 (1.12, 251, Decimal('6044.49')),
 (1.13, 246, Decimal('6193.40')),
 (1.14, 207, Decimal('6354.54')),
 (1.15, 149, Decimal('5959.91')),
 (1.16, 172, Decimal('6274.30')),
 (1.17, 110, Decimal('6224.88')),
 (1.18, 123, Decimal('6481.11')),
 (1.19, 126, Decimal('6483.24')),
 (1.2, 645, Decimal('6683.21')),
 (1.21, 473, Decimal('6899.48')),
 (1.22, 300, Decimal('6964.06')),
 (1.23, 279, Decimal('7273.60')),
 (1.24, 236, Decimal('7134.96')),
 (1.25, 187, Decimal('7123.25')),
 (1.26, 146, Decimal('7490.75')),
 (1.27, 134, Decimal('7119.12')),
 (1.28, 106, Decimal('7711.81')),
 (1.29, 101, Decimal('7033.02')),
 (1.3, 122, Decimal('7837.70')),
 (1.31, 133, Decimal('7726.56')),
 (1.32, 89, Decimal('7639.37')),
 (1.33, 87, Decimal('7527.08')),
 (1.34, 68, Decimal('7758.50')),
 (1.35, 77, Decimal('7448.29')),
 (1.36, 50, Decimal('8591.52')),
 (1.37, 46, Decimal('8044.09')),
 (1.38, 26, Decimal('8164.31')),
 (1.39, 36, Decimal('8335.11')),
 (1.4, 50, Decimal('9108.52')),
 (1.41, 40, Decimal('9459.70')),
 (1.42, 25, Decimal('9487.20')),
 (1.43, 19, Decimal('9234.95')),
 (1.44, 18, Decimal('8021.61')),
 (1.45, 15, Decimal('8709.33')),
 (1.46, 18, Decimal('8237.44')),
 (1.47, 21, Decimal('7833.71')),
 (1.48, 7, Decimal('8791.29')),
 (1.49, 11, Decimal('9174.27')),
 (1.5, 793, Decimal('10057.30')),
 (1.51, 807, Decimal('10544.64')),
 (1.52, 381, Decimal('10610.24')),
 (1.53, 220, Decimal('10695.59')),
 (1.54, 174, Decimal('10865.03')),
 (1.55, 124, Decimal('10688.31')),
 (1.56, 109, Decimal('10229.74')),
 (1.57, 106, Decimal('10422.71')),
 (1.58, 89, Decimal('11427.99')),
 (1.59, 89, Decimal('10574.36')),
 (1.6, 95, Decimal('11124.25')),
 (1.61, 64, Decimal('10992.84')),
 (1.62, 61, Decimal('11705.89')),
 (1.63, 50, Decimal('11556.32')),
 (1.64, 43, Decimal('10738.00')),
 (1.65, 32, Decimal('10973.88')),
 (1.66, 30, Decimal('11084.50')),
 (1.67, 25, Decimal('12281.48')),
 (1.68, 19, Decimal('11779.11')),
 (1.69, 24, Decimal('11878.08')),
 (1.7, 215, Decimal('12110.32')),
 (1.71, 119, Decimal('12396.55')),
 (1.72, 57, Decimal('12040.32')),
 (1.73, 52, Decimal('11875.96')),
 (1.74, 40, Decimal('12270.33')),
 (1.75, 50, Decimal('12673.70')),
 (1.76, 28, Decimal('12398.57')),
 (1.77, 17, Decimal('11103.18')),
 (1.78, 12, Decimal('12504.58')),
 (1.79, 15, Decimal('13144.07')),
 (1.8, 21, Decimal('13057.52')),
 (1.81, 9, Decimal('11374.44')),
 (1.82, 13, Decimal('12986.15')),
 (1.83, 18, Decimal('11930.00')),
 (1.84, 4, Decimal('11108.50')),
 (1.85, 3, Decimal('11436.00')),
 (1.86, 9, Decimal('12164.33')),
 (1.87, 7, Decimal('12933.57')),
 (1.88, 4, Decimal('10946.25')),
 (1.89, 4, Decimal('13969.00')),
 (1.9, 7, Decimal('11477.14')),
 (1.91, 12, Decimal('12365.83')),
 (1.92, 2, Decimal('15418.00')),
 (1.93, 6, Decimal('16828.17')),
 (1.94, 3, Decimal('14189.33')),
 (1.95, 3, Decimal('12340.67')),
 (1.96, 4, Decimal('8642.25')),
 (1.97, 4, Decimal('15966.00')),
 (1.98, 5, Decimal('14667.80')),
 (1.99, 3, Decimal('14179.00')),
 (2.0, 265, Decimal('14076.76')),
 (2.01, 440, Decimal('14735.13')),
 (2.02, 177, Decimal('14786.84')),
 (2.03, 122, Decimal('14710.11')),
 (2.04, 86, Decimal('14840.17')),
 (2.05, 67, Decimal('15555.40')),
 (2.06, 60, Decimal('14377.83')),
 (2.07, 50, Decimal('15384.28')),
 (2.08, 41, Decimal('15128.68')),
 (2.09, 45, Decimal('15287.31')),
 (2.1, 52, Decimal('14419.31')),
 (2.11, 43, Decimal('14563.42')),
 (2.12, 25, Decimal('15007.68')),
 (2.13, 21, Decimal('15220.43')),
 (2.14, 48, Decimal('14905.04')),
 (2.15, 22, Decimal('14187.18')),
 (2.16, 25, Decimal('15860.48')),
 (2.17, 18, Decimal('14416.61')),
 (2.18, 31, Decimal('14828.45')),
 (2.19, 22, Decimal('15521.09')),
 (2.2, 32, Decimal('15290.56')),
 (2.21, 23, Decimal('15287.96')),
 (2.22, 27, Decimal('14691.52')),
 (2.23, 13, Decimal('13947.46')),
 (2.24, 16, Decimal('15573.94')),
 (2.25, 18, Decimal('13771.56')),
 (2.26, 15, Decimal('15330.20')),
 (2.27, 12, Decimal('14198.42')),
 (2.28, 20, Decimal('15422.95')),
 (2.29, 17, Decimal('15834.76')),
 (2.3, 21, Decimal('14822.52')),
 (2.31, 13, Decimal('15017.38')),
 (2.32, 16, Decimal('16042.19')),
 (2.33, 9, Decimal('14089.78')),
 (2.34, 5, Decimal('11922.00')),
 (2.35, 7, Decimal('16090.43')),
 (2.36, 8, Decimal('15756.75')),
 (2.37, 6, Decimal('16525.17')),
 (2.38, 8, Decimal('15481.38')),
 (2.39, 7, Decimal('17182.43')),
 (2.4, 13, Decimal('16362.46')),
 (2.41, 5, Decimal('15808.20')),
 (2.42, 8, Decimal('16954.13')),
 (2.43, 6, Decimal('15356.00')),
 (2.44, 4, Decimal('16365.50')),
 (2.45, 4, Decimal('14593.75')),
 (2.46, 3, Decimal('14227.00')),
 (2.47, 3, Decimal('15644.00')),
 (2.48, 9, Decimal('16537.11')),
 (2.49, 3, Decimal('13843.00')),
 (2.5, 17, Decimal('14255.12')),
 (2.51, 17, Decimal('16616.88')),
 (2.52, 9, Decimal('16242.11')),
 (2.53, 8, Decimal('16548.88')),
 (2.54, 9, Decimal('15261.67')),
 (2.55, 3, Decimal('15964.00')),
 (2.56, 3, Decimal('16723.33')),
 (2.57, 3, Decimal('17841.67')),
 (2.58, 3, Decimal('14481.33')),
 (2.59, 1, Decimal('16465.00')),
 (2.6, 3, Decimal('17535.00')),
 (2.61, 3, Decimal('16583.00')),
 (2.63, 3, Decimal('12659.67')),
 (2.64, 1, Decimal('17407.00')),
 (2.65, 1, Decimal('16314.00')),
 (2.66, 3, Decimal('16991.00')),
 (2.67, 1, Decimal('18686.00')),
 (2.68, 2, Decimal('9042.00')),
 (2.7, 1, Decimal('14341.00')),
 (2.71, 1, Decimal('17146.00')),
 (2.72, 3, Decimal('12088.33')),
 (2.74, 3, Decimal('14385.00')),
 (2.75, 2, Decimal('14285.50')),
 (2.77, 1, Decimal('10424.00')),
 (2.8, 2, Decimal('16909.00')),
 (3.0, 8, Decimal('12378.50')),
 (3.01, 14, Decimal('15910.29')),
 (3.02, 1, Decimal('10577.00')),
 (3.04, 2, Decimal('16956.50')),
 (3.05, 1, Decimal('10453.00')),
 (3.11, 1, Decimal('9823.00')),
 (3.22, 1, Decimal('12545.00')),
 (3.24, 1, Decimal('12300.00')),
 (3.4, 1, Decimal('15964.00')),
 (3.5, 1, Decimal('12587.00')),
 (3.51, 1, Decimal('18701.00')),
 (3.65, 1, Decimal('11668.00')),
 (3.67, 1, Decimal('16193.00')),
 (4.0, 1, Decimal('15984.00')),
 (4.01, 2, Decimal('15223.00')),
 (4.13, 1, Decimal('17329.00')),
 (4.5, 1, Decimal('18531.00')),
 (5.01, 1, Decimal('18018.00'))]

## What is the average price per carat for diamonds with different levels of clarity?

In [60]:
%%sql
SELECT clarity, CAST(AVG(price / carat) AS decimal(10, 2)) AS average_price_per_carat
FROM diamonds
GROUP BY clarity;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
8 rows affected.

[('VVS2', Decimal('4204.17')),
 ('VS1', Decimal('4155.82')),
 ('VS2', Decimal('4080.53')),
 ('I1', Decimal('2796.30')),
 ('VVS1', Decimal('3851.41')),
 ('IF', Decimal('4259.93')),
 ('SI1', Decimal('3849.08')),
 ('SI2', Decimal('4010.85'))]

## What is the average price per carat for diamonds of different color grades?

In [54]:
%%sql
SELECT color, CAST(AVG(price / carat) AS decimal(10, 2)) AS average_price_per_carat
FROM diamonds
GROUP BY color;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
7 rows affected.

[('J', Decimal('3825.65')),
 ('E', Decimal('3804.61')),
 ('D', Decimal('3952.56')),
 ('I', Decimal('3996.40')),
 ('H', Decimal('4008.03')),
 ('G', Decimal('4163.41')),
 ('F', Decimal('4134.73'))]

## How does the depth percentage vary among different clarity grades

In [80]:
%%sql
SELECT clarity, MIN(depth) AS min_depth, MAX(depth) AS max_depth, CAST(AVG(depth)  AS decimal(10, 2)) AS average_depth
FROM diamonds
GROUP BY clarity;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
8 rows affected.

[('VVS2', 51.0, 67.6, Decimal('61.66')),
 ('VS1', 50.8, 71.8, Decimal('61.67')),
 ('VS2', 43.0, 79.0, Decimal('61.72')),
 ('I1', 55.6, 78.2, Decimal('62.73')),
 ('VVS1', 54.0, 67.6, Decimal('61.62')),
 ('IF', 52.3, 65.6, Decimal('61.51')),
 ('SI1', 43.0, 72.9, Decimal('61.85')),
 ('SI2', 53.1, 72.2, Decimal('61.77'))]

## How does the depth percentage affect diamonds price

In [23]:
%%sql
SELECT 
  CASE 
    WHEN depth  <=43 THEN '43'
    WHEN depth >= 50.0 AND depth < 59.9 THEN '50-59%'
    WHEN depth >= 60.0 AND depth < 69.9 THEN '60-69'
    WHEN depth >= 70.0 AND depth < 79.9 THEN '70-79'
  END AS depth_range,
  CAST(AVG(price) AS decimal(10, 2)) AS average_price
FROM diamonds
GROUP BY depth_range
ORDER BY depth_range;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
5 rows affected.

[('43', Decimal('4206.00')),
 ('50-59%', Decimal('4546.92')),
 ('60-69', Decimal('3868.86')),
 ('70-79', Decimal('4291.88')),
 (None, Decimal('4483.45'))]

## How does the depth percentage vary across different diamond cuts?

In [94]:
%%sql
SELECT cut, MIN(depth) AS min_depth, MAX(depth) AS max_depth, CAST(AVG(depth)AS decimal(10, 2))AS average_depth
FROM diamonds
GROUP BY cut;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
5 rows affected.

[('Good', 54.3, 67.0, Decimal('62.37')),
 ('Very Good', 56.8, 64.9, Decimal('61.82')),
 ('Premium', 58.0, 63.0, Decimal('61.26')),
 ('Ideal', 43.0, 66.7, Decimal('61.71')),
 ('Fair', 43.0, 79.0, Decimal('64.04'))]

## How does the depth percentage impact the average price per carat for diamonds of different color grades?

In [24]:
%%sql
SELECT color, AVG(price / carat) AS average_price_per_carat, AVG(depth) AS average_depth_percentage
FROM diamonds
GROUP BY color
ORDER BY color;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
7 rows affected.

[('D', 3952.564280175662, 61.69812546125477),
 ('E', 3804.6114748198656, 61.6620904358481),
 ('F', 4134.730683920377, 61.694581848668925),
 ('G', 4163.411524474036, 61.757111229188524),
 ('H', 4008.026940951264, 61.836849710982655),
 ('I', 3996.402051410843, 61.84638509774959),
 ('J', 3825.6491919432315, 61.887215099715085)]


## How does the table percentage affect the diamond price

In [25]:
%%sql
SELECT
  CASE
    WHEN "table" >= 40 AND "table" <= 49.9 THEN '40-49.9'
    WHEN "table" >= 50 AND "table" <= 59.9 THEN '50-59.9'
    WHEN "table" >= 60 AND "table" < 69.9 THEN '60-69.9'
    WHEN "table" >= 70 AND "table" < 79.9 THEN '70-79.9'
  END AS table_range,
  COUNT(*) AS table_count,
  AVG(price) AS average_price
FROM diamonds
GROUP BY table_range
ORDER BY table_range;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
5 rows affected.

[('40-49.9', 4, Decimal('2513.0000000000000000')),
 ('50-59.9', 44849, Decimal('3798.1424112020334902')),
 ('60-69.9', 9070, Decimal('4600.2592061742006615')),
 ('70-79.9', 16, Decimal('2783.6250000000000000')),
 (None, 1, Decimal('13387.0000000000000000'))]

## How does the table percentage impact the average price per carat for diamonds of different color grades?

In [26]:
%%sql
SELECT
  CASE
    WHEN "table" >= 10 AND "table" <= 19.9 THEN '40-49.9'
    WHEN "table" >= 20 AND "table" <= 29.9 THEN '30-39.9'
    WHEN "table" >= 30 AND "table" <= 39.9 THEN '40-49.9'
    WHEN "table" >= 40 AND "table" <= 49.9 THEN '40-49.9'
    WHEN "table" >= 50 AND "table" <= 59.9 THEN '50-59.9'
    WHEN "table" >= 60 AND "table" < 69.9 THEN '60-69.9'
    WHEN "table" >= 70 AND "table" < 79.9 THEN '70-79.9'
  END AS table_range,
  color,
  AVG(price / carat) AS avg_price_per_carat
FROM diamonds
GROUP BY table_range, color
ORDER BY table_range, color;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
23 rows affected.

[('40-49.9', 'E', 1867.2413793103449),
 ('40-49.9', 'I', 4377.903846153846),
 ('50-59.9', 'D', 3903.329162094154),
 ('50-59.9', 'E', 3780.711977945886),
 ('50-59.9', 'F', 4111.013026763808),
 ('50-59.9', 'G', 4152.3905506931105),
 ('50-59.9', 'H', 3953.669040965956),
 ('50-59.9', 'I', 3888.1066558824436),
 ('50-59.9', 'J', 3804.5177444700503),
 ('60-69.9', 'D', 4199.549058278983),
 ('60-69.9', 'E', 3915.9391408908527),
 ('60-69.9', 'F', 4258.63038798602),
 ('60-69.9', 'G', 4230.004669123519),
 ('60-69.9', 'H', 4262.991284684981),
 ('60-69.9', 'I', 4485.0029637486),
 ('60-69.9', 'J', 3906.1223754712246),
 ('70-79.9', 'D', 3335.211267605634),
 ('70-79.9', 'E', 5889.439293598233),
 ('70-79.9', 'F', 3293.3122892731276),
 ('70-79.9', 'G', 3025.1848440908675),
 ('70-79.9', 'H', 2738.0920390765646),
 ('70-79.9', 'I', 2143.283582089552),
 (None, 'F', 6660.199004975125)]

## Do diamonds with a specific table percentage range tend to have more or fewer inclusions or flaws?

In [27]:
%%sql
SELECT
  CASE
    WHEN "table" >= 10 AND "table" <= 19.9 THEN '40-49.9'
    WHEN "table" >= 20 AND "table" <= 29.9 THEN '30-39.9'
    WHEN "table" >= 30 AND "table" <= 39.9 THEN '40-49.9'
    WHEN "table" >= 40 AND "table" <= 49.9 THEN '40-49.9'
    WHEN "table" >= 50 AND "table" <= 59.9 THEN '50-59.9'
    WHEN "table" >= 60 AND "table" < 69.9 THEN '60-69.9'
    WHEN "table" >= 70 AND "table" < 79.9 THEN '70-79.9'
  END AS table_range,
  clarity,
  COUNT(*) AS inclusion_count
FROM diamonds
GROUP BY table_range, clarity
ORDER BY table_range, clarity;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
23 rows affected.

[('40-49.9', 'SI1', 1),
 ('40-49.9', 'VS1', 3),
 ('50-59.9', 'I1', 523),
 ('50-59.9', 'IF', 1639),
 ('50-59.9', 'SI1', 10552),
 ('50-59.9', 'SI2', 7088),
 ('50-59.9', 'VS1', 6940),
 ('50-59.9', 'VS2', 10345),
 ('50-59.9', 'VVS1', 3285),
 ('50-59.9', 'VVS2', 4477),
 ('60-69.9', 'I1', 218),
 ('60-69.9', 'IF', 151),
 ('60-69.9', 'SI1', 2506),
 ('60-69.9', 'SI2', 2104),
 ('60-69.9', 'VS1', 1225),
 ('60-69.9', 'VS2', 1907),
 ('60-69.9', 'VVS1', 370),
 ('60-69.9', 'VVS2', 589),
 ('70-79.9', 'SI1', 5),
 ('70-79.9', 'SI2', 2),
 ('70-79.9', 'VS1', 3),
 ('70-79.9', 'VS2', 6),
 (None, 'SI1', 1)]

In [28]:
%%sql
SELECT
  cut,
  CASE
    WHEN "table" >= 10 AND "table" <= 19.9 THEN '40-49.9'
    WHEN "table" >= 20 AND "table" <= 29.9 THEN '30-39.9'
    WHEN "table" >= 30 AND "table" <= 39.9 THEN '40-49.9'
    WHEN "table" >= 40 AND "table" <= 49.9 THEN '40-49.9'
    WHEN "table" >= 50 AND "table" <= 59.9 THEN '50-59.9'
    WHEN "table" >= 60 AND "table" < 69.9 THEN '60-69.9'
    WHEN "table" >= 70 AND "table" < 79.9 THEN '70-79.9'
  END AS table_range,
  AVG("price") AS avg_table_percentage,
  
 FROM diamonds
 GROUP BY cut, table_range
 ORDER BY cut, table_range;

 * postgresql://postgres:***@localhost:5430/food_ordering_system
(psycopg2.errors.SyntaxError) syntax error at or near "FROM"
LINE 14:  FROM diamonds
          ^

[SQL: SELECT
  cut,
  CASE
    WHEN "table" >= 10 AND "table" <= 19.9 THEN '40-49.9'
    WHEN "table" >= 20 AND "table" <= 29.9 THEN '30-39.9'
    WHEN "table" >= 30 AND "table" <= 39.9 THEN '40-49.9'
    WHEN "table" >= 40 AND "table" <= 49.9 THEN '40-49.9'
    WHEN "table" >= 50 AND "table" <= 59.9 THEN '50-59.9'
    WHEN "table" >= 60 AND "table" < 69.9 THEN '60-69.9'
    WHEN "table" >= 70 AND "table" < 79.9 THEN '70-79.9'
  END AS table_range,
  AVG("price") AS avg_table_percentage,

 FROM diamonds
 GROUP BY cut, table_range
 ORDER BY cut, table_range;]
(Background on this error at: https://sqlalche.me/e/20/f405)